body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 10px;
  font-size: 3em;
}

.trash-can {
  margin-bottom: 0;
  position: relative;
}

#fillLevelPercentage {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}
