body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 10px;
  font-size: 3em;
}

.trash-can {
  margin-bottom: 0;
  position: relative;
}

#fillLevelPercentage {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2em;
  }

  #fillLevelPercentage {
    font-size: 1.5em;
    bottom: 80px;
  }
}
